@charset "UTF-8";
header {
  height: 90px; }

.navbar {
  padding: 20px 40px;
  box-shadow: 5px 3px 10px 0px #00000052;
  cursor: pointer; }
  .navbar h1 {
    font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #ff385c; }
  .navbar #nav {
    width: 90px;
    height: 45px;
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    justify-content: space-around;
    display: flex;
    align-items: center; }
    .navbar #nav .menu-btn {
      background: transparent;
      border: none;
      position: relative; }
      .navbar #nav .menu-btn > span {
        background: black;
        width: 22px;
        height: 2px;
        display: block;
        position: absolute; }
        .navbar #nav .menu-btn > span:nth-child(1) {
          top: -6px; }
        .navbar #nav .menu-btn > span:nth-child(3) {
          top: 6px; }
    .navbar #nav .user-icon {
      width: 30px;
      height: 30px; }
      .navbar #nav .user-icon img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 60px;
  margin-top: 30px;
  margin-bottom: 50px; }
  @media screen and (max-width: 896px) {
    main {
      margin-bottom: 60px; } }
  @media screen and (max-width: 568px) {
    main {
      padding: 0 40px; } }
  @media screen and (max-width: 568px) {
    main {
      padding: 0 25px; } }
  main .grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    position: relative; }
    @media screen and (max-width: 768px) {
      main .grid {
        grid-template-columns: 1fr; } }
    main .grid .flash_message {
      position: absolute;
      font-size: 20px;
      color: #da4175; }
    main .grid .grid-top ul li a {
      font-size: 14px;
      border-bottom: 1px solid; }
    main .grid .grid-top .event_info {
      padding-top: 32px; }
      main .grid .grid-top .event_info p {
        font-size: 12px;
        font-weight: 800;
        line-height: 16px;
        margin-bottom: 12px; }
      main .grid .grid-top .event_info h2 {
        font-size: 26px;
        font-weight: 800;
        line-height: 16px; }
    main .grid .grid-top .likes_wrapper {
      flex-direction: column; }
      main .grid .grid-top .likes_wrapper .likes {
        margin-top: 20px; }
        main .grid .grid-top .likes_wrapper .likes .add_like, main .grid .grid-top .likes_wrapper .likes .delete_like {
          color: #ff508c; }
    main .grid .grid-top .event_img {
      text-align: center; }
      main .grid .grid-top .event_img img {
        width: 100%;
        height: 450px;
        border-radius: 48px;
        border: 1px solid #eaeaea;
        cursor: default;
        margin: 10px 0; }
        @media screen and (max-width: 667px) {
          main .grid .grid-top .event_img img {
            height: 350px; } }
        @media screen and (max-width: 480px) {
          main .grid .grid-top .event_img img {
            height: 300px;
            margin: 30px 0; } }
    main .grid .grid-bottom .user {
      display: flex;
      align-items: center;
      margin-bottom: 5px; }
      main .grid .grid-bottom .user .user_name {
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        margin-right: 10px; }
        @media screen and (max-width: 568px) {
          main .grid .grid-bottom .user .user_name {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px; } }
        @media screen and (max-width: 480px) {
          main .grid .grid-bottom .user .user_name {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px; } }
      main .grid .grid-bottom .user .user_img {
        width: 30px;
        height: 30px; }
        @media screen and (max-width: 480px) {
          main .grid .grid-bottom .user .user_img {
            display: none; } }
        main .grid .grid-bottom .user .user_img img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          border: 1px solid #9e9e9e8f; }
    main .grid .grid-bottom .created li {
      color: #71717191;
      font-size: 14px; }
    main .grid .grid-bottom .event_content {
      margin: 50px 0; }
      @media screen and (max-width: 480px) {
        main .grid .grid-bottom .event_content section {
          margin-bottom: 50px; } }
      main .grid .grid-bottom .event_content h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 2px;
        color: #484848;
        margin-bottom: 30px; }
        @media screen and (max-width: 768px) {
          main .grid .grid-bottom .event_content h2 {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px; } }
      main .grid .grid-bottom .event_content p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid #00000033; }
        @media screen and (max-width: 768px) {
          main .grid .grid-bottom .event_content p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px; } }
      main .grid .grid-bottom .event_content .flex {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 80px; }
        @media screen and (max-width: 667px) {
          main .grid .grid-bottom .event_content .flex {
            grid-template-columns: 1fr;
            gap: 0; } }
        @media screen and (max-width: 480px) {
          main .grid .grid-bottom .event_content .flex {
            display: block; } }
        main .grid .grid-bottom .event_content .flex .section-item {
          margin: 25px 0; }
      main .grid .grid-bottom .event_content .comments_wrapper {
        height: 250px;
        overflow: scroll; }
        main .grid .grid-bottom .event_content .comments_wrapper .comments .comment_users {
          grid-template-columns: 1fr 1fr 1fr; }
          @media screen and (max-width: 480px) {
            main .grid .grid-bottom .event_content .comments_wrapper .comments .comment_users {
              grid-template-columns: 1fr; } }
        main .grid .grid-bottom .event_content .comments_wrapper .nav {
          position: relative;
          left: 50px; }
          @media screen and (max-width: 480px) {
            main .grid .grid-bottom .event_content .comments_wrapper .nav {
              left: 0;
              order: 1; } }
    main .grid .grid-bottom .member_icons {
      flex-direction: column;
      width: 100px;
      height: 130px;
      border: 1px solid;
      border-radius: 16px;
      padding: 15px 10px; }
      main .grid .grid-bottom .member_icons li:nth-child(2) {
        font-size: 12px; }

.hover {
  box-shadow: 5px 3px 10px 0px #00000052;
  transform: translateY(-1px);
  transiton: all 0.6s; }

.hide {
  opacity: 0; }

#map {
  width: 100%;
  height: 350px; }

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

/*# sourceMappingURL=event_shows.css.map */
