//タイトルスタイル 
@mixin title($size,$space){
    font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
    letter-spacing:$space;
    font-size: $size;
    font-weight: bold;
}

@mixin pink{
    color: rgb(255, 56, 92);
}

// aタグ hover スタイル
@mixin borderB{
    border-bottom:1px solid rgb(72, 72, 72);
}
// fontスタイル
@mixin font($size,$weight,$height){
    font-size:$size;
    font-weight:$weight;
    line-height:$height;
}