@charset "UTF-8";
header {
  height: 90px; }

.navbar {
  padding: 20px 40px;
  box-shadow: 5px 3px 10px 0px #00000052;
  cursor: pointer; }
  .navbar h1 {
    font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #ff385c; }
  .navbar #nav {
    width: 90px;
    height: 45px;
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    justify-content: space-around;
    display: flex;
    align-items: center; }
    .navbar #nav .menu-btn {
      background: transparent;
      border: none;
      position: relative; }
      .navbar #nav .menu-btn > span {
        background: black;
        width: 22px;
        height: 2px;
        display: block;
        position: absolute; }
        .navbar #nav .menu-btn > span:nth-child(1) {
          top: -6px; }
        .navbar #nav .menu-btn > span:nth-child(3) {
          top: 6px; }
    .navbar #nav .user-icon {
      width: 30px;
      height: 30px; }
      .navbar #nav .user-icon img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 20px;
  margin-bottom: 80px; }
  @media screen and (max-width: 896px) {
    main {
      margin-bottom: 60px; } }
  main .tab {
    margin-bottom: 80px; }
    @media screen and (max-width: 896px) {
      main .tab {
        margin-bottom: 60px; } }
    main .tab li {
      margin-right: 10px;
      color: #0000009c;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.2; }
      main .tab li a {
        color: #0000009c; }
        main .tab li a:hover {
          border-bottom: 1px solid #484848; }
  main .grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 2fr; }
    @media screen and (max-width: 896px) {
      main .grid {
        grid-template-columns: 1.3fr 4fr;
        gap: 20px; } }
    @media screen and (max-width: 768px) {
      main .grid {
        grid-template-columns: 1fr; } }
    main .grid .grid-item-left {
      height: 500px;
      padding: 40px 0;
      border-radius: 8px;
      box-shadow: 0 2px 8px #00000033;
      text-align: center; }
      @media screen and (max-width: 896px) {
        main .grid .grid-item-left {
          height: 400px; } }
      @media screen and (max-width: 768px) {
        main .grid .grid-item-left {
          height: 150px;
          padding: 0;
          box-shadow: none; } }
      main .grid .grid-item-left .icon {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #00000029;
        padding: 10px; }
        @media screen and (max-width: 896px) {
          main .grid .grid-item-left .icon {
            height: 150px;
            width: 150px; } }
      main .grid .grid-item-left ul {
        font-size: 14px; }
        main .grid .grid-item-left ul li:nth-child(1) {
          color: #484848; }
        main .grid .grid-item-left ul li:nth-child(2) {
          color: #71717191;
          font-size: 12px; }
    main .grid .grid-item-right {
      height: 750px;
      padding: 25px 40px; }
      @media screen and (max-width: 768px) {
        main .grid .grid-item-right {
          padding: 25px;
          height: 100%; } }
      @media screen and (max-width: 480px) {
        main .grid .grid-item-right {
          padding: 25px 10px; } }
      main .grid .grid-item-right .items {
        margin-bottom: 50px; }
        @media screen and (max-width: 480px) {
          main .grid .grid-item-right .items .user_name {
            flex-direction: column; } }
        main .grid .grid-item-right .items .user_name li {
          font-size: 32px;
          font-weight: 400;
          line-height: 1.5;
          color: #0000009c;
          margin-bottom: 10px;
          padding-right: 10px; }
          @media screen and (max-width: 768px) {
            main .grid .grid-item-right .items .user_name li {
              font-size: 26px;
              font-weight: 400;
              line-height: 1.5; } }
          @media screen and (max-width: 568px) {
            main .grid .grid-item-right .items .user_name li {
              font-size: 22px;
              font-weight: 400;
              line-height: 1.5; } }
        main .grid .grid-item-right .items .user_info {
          font-size: 14px; }
          main .grid .grid-item-right .items .user_info li:nth-child(1) {
            margin-bottom: 20px;
            color: #71717191; }
            @media screen and (max-width: 568px) {
              main .grid .grid-item-right .items .user_info li:nth-child(1) {
                font-size: 12px; } }
          main .grid .grid-item-right .items .user_info li a {
            color: var(--color-text-link, #008489); }
          main .grid .grid-item-right .items .user_info .flash_message {
            color: red !important; }
      main .grid .grid-item-right .profile {
        margin-bottom: 50px; }
        @media screen and (max-width: 480px) {
          main .grid .grid-item-right .profile section {
            margin-bottom: 50px; } }
        main .grid .grid-item-right .profile h2 {
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 2px;
          color: #484848;
          margin-bottom: 30px; }
          @media screen and (max-width: 768px) {
            main .grid .grid-item-right .profile h2 {
              font-size: 18px;
              font-weight: 400;
              line-height: 20px; } }
        main .grid .grid-item-right .profile P {
          font-size: 18px;
          font-weight: 400;
          line-height: 1;
          margin-bottom: 32px;
          padding-bottom: 20px;
          border-bottom: 1px solid #00000033; }
          @media screen and (max-width: 768px) {
            main .grid .grid-item-right .profile P {
              font-size: 16px;
              font-weight: 400;
              line-height: 20px; } }
        main .grid .grid-item-right .profile .flex {
          display: grid;
          grid-template-columns: 35% 35%;
          gap: 80px; }
          @media screen and (max-width: 480px) {
            main .grid .grid-item-right .profile .flex {
              display: block; } }
      main .grid .grid-item-right ul {
        font-size: 14px; }
        main .grid .grid-item-right ul li a {
          color: var(--color-text-link, #008489); }

footer {
  background: #F7F7F7;
  height: 100px;
  width: 100%; }

/*# sourceMappingURL=profile.css.map */
