@import 'model.scss';
$cWhite:#00000033;
$cNavy:#484848;
$cGreen:#008489;
$cGray:#71717191;
$cBlack:#0000009c;
$cLgreen:var(--color-text-link, #008489);
@mixin font($size,$weight,$height){
    font-size:$size;
    font-weight:$weight;
    line-height:$height;
}
@mixin section{
    margin-bottom: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid $cWhite;
}


header{
    height:90px;
}

main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 24px;
    margin-top: 80px;
    margin-bottom: 80px;
    @media screen and (max-width: 896px) {
        margin-bottom:60px;
    }
    
    & .grid {
       display: grid;
        gap: 40px;
        grid-template-columns: 1fr 2fr;
        @media screen and (max-width: 896px) {
            grid-template-columns: 1.3fr 4fr;
            gap: 20px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 90%;
            justify-content: center;
        }        

        & .grid-item-left{
            height: 500px;
            padding: 40px 0;
            border-radius: 8px;   
            box-shadow: 0 2px 8px $cWhite;
            text-align: center;
            @media screen and (max-width: 896px) {
                height: 400px;
            } 
            @media screen and (max-width: 768px) {
                height: 150px;
                padding:0;
                box-shadow:none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }               
            & .icon{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #00000029;
                padding: 10px;
                @media screen and (max-width: 896px) {
                  height: 150px;
                  width: 150px;
                }                    
            }
            
            & ul{
                font-size:14px;
                & li:nth-child(1){
                    color:$cNavy;
                }
                & li:nth-child(2){
                    color:$cGray;
                    font-size:12px;
                }
            }
            
            & .file_label{
                padding: 10px 40px;
                cursor: pointer;
                margin: 5px;
                color: rgb(230, 175, 9);
                transition:color 0.6s;
            }
            & #file_desc {
                font-size: 13px;
            }
                    
        }
    
        & .grid-item-right{
            height: 750px;
            padding: 25px 40px;
            @media screen and (max-width: 896px) {
                padding:25px;
                height:100%;
            }    
            @media screen and (max-width: 480px) {
                padding:25px 10px;
            }                
        
            & .items{
                margin-bottom:50px;
                
                & h2{
                    @include font(32px,400,1.5);
                    color:$cBlack;
                    margin-bottom:10px;
                    @media screen and (max-width: 568px) {
                        @include font(22px,400,1.5);
                    }                      
                }
                & .user_info{
                    font-size:14px;
                    & li:nth-child(1){
                        margin-bottom:20px;
                        color:$cGray;
                        @media screen and (max-width: 568px) {
                            font-size:12px;
                        }                         
                    }
                    & li a {
                        color:$cLgreen;
                    }
                    & .flash_message{
                      color:red !important;
                }
                }
                
            }
            
            & .profile{
                margin-bottom: 50px;
                & section{
                @media screen and (max-width: 480px) {
                    margin-bottom:50px;
                }                     
                }
                
                & h2{
                @include font(20px,400,20px);
                letter-spacing:2px;
                color:$cNavy; 
                margin-bottom:30px;
                @media screen and (max-width: 768px) {
                    @include font(18px,400,20px);
                }                   
                }
                
                & P{
                    @include font(18px,400,1);
                    @include section;
                    @media screen and (max-width: 768px) {
                        @include font(16px,400,20px);
                    }                        
                }
                & .flex{
                    display: grid;
                    grid-template-columns: 35% 35%;
                    gap: 80px;
                    @media screen and (max-width: 480px) {
                        display:block;
                    }                    
                }
            }
            & ul{
                font-size:14px;
                & li a{
                    color:$cLgreen;
                }
            }
        }
    }
}

.btn-primary{
    background-color:$cLgreen;
    border-color: $cLgreen;
    &:hover{
        background-color: #07c0c7;
        border-color: #07c0c7;
        transition:all 0.4s;
    }
}

.errors .my-2 {
    color: #da4175!important;
}